<div class="card">
    <div class="card-header">
        Editar usuario
    </div>
    <div class="card-body">
        <form [formGroup]="formulariodeUsuario" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
              <label for="" class="form-label">Cédula</label>
              <input type="text"
                class="form-control" name="" formControlName="cedula" id="" readonly="readonly" aria-describedby="helpId" placeholder="Escribe tu cédula">
            </div> 
            <div class="mb-3">
                <label for="" class="form-label">Nombre</label>
                <input type="text"
                  class="form-control" name="" formControlName="nombre" id="" aria-describedby="helpId" placeholder="Escribe tu nombre">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Apellido</label>
                <input type="text"
                  class="form-control" name="" formControlName="apellido" id="" aria-describedby="helpId" placeholder="Escribe tu apellido">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Correo</label>
                <input type="email"
                  class="form-control" name="" formControlName="correo" id="" aria-describedby="helpId" placeholder="Escribe tu correo">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Teléfono</label>
                <input type="text"
                  class="form-control" name="" formControlName="telefono" id="" aria-describedby="helpId" placeholder="Escribe tu teléfono">
            </div>
            <div class="btn-group" role="group" aria-label="Button group name">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" routerLink="/usuarios/" class="btn btn-primary">Cancelar</button>
            </div>
        </form>
    </div>
</div>
