<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page">Biblioteca <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="principal">Principal</a>
        <a class="nav-item nav-link" routerLink="prestamos">Prestamos</a>
        <a class="nav-item nav-link" routerLink="devoluciones">Devoluciones</a>
        <a class="nav-item nav-link" routerLink="usuarios">Usuarios</a>
        <a class="nav-item nav-link" routerLink="libros">Libros</a>
        <a class="nav-item nav-link" routerLink="crear-usuario">Registrar un usuario</a>
        <a class="nav-item nav-link" routerLink="crear-libro">Registrar un libro</a>
        <a class="nav-item nav-link" routerLink="reportes">Reportes</a> 
    </div>
</nav>
<div class="container">
  <!--Aqui debemos agregar el espacio donde se debe aparecer los link que estamos
  agregando mas arriba-->
  <router-outlet></router-outlet>
</div>